<div class="container">
    <%= simple_form_for [@product, @cart_product] do |f| %>
    <%= f.input :quantity %>
    <%= f.button :submit, "Add to Cart", :class => "btn btn-success"%>
    <% end %>
</div>