// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new-product";
@import "show";

.main-container {
background-color: $mari-green;
min-height: 55vh;
}

.filter-bar {
  display:flex;
  justify-content: space-between;
  background-color: $mari-green;
  p {
    color:white;
    font-size: 18px;
    padding-left: 12px;
    margin: 0px;
    align-self: center;
    font-family: "Nunito", "Helvetica", "sans-serif";
  }
}

.filter-buttons {
  display: flex;
}

.filter-item {
  margin: 0px 2px;
  background-color: $mari-dark-green;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  &:hover{
    background-color: white;
    color: $mari-dark-green;
  }
}
