// Import page-specific CSS files here.
@import "home";
@import "show";

.card-style{
// width: 18rem;
border: none;
}

#card-img{
  // height:80px;
}

#card-title-style{

}

#card-link-style{
  color: #30475e;
}
