.new-container{
  display:flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.form-style {
  width: 638px;
  padding: 16px;
  border-radius: 8px;
  color: white;
  background-color:$mari-dark-green;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.new-product-button {
  background-color:$mari-green;
  color: white;
  border-radius: 4px;
  &:hover{
  background-color: white;
  color: $mari-dark-green;
  }
}
