

.card-product-show {
  margin-top: 16px;
  border-radius: 20px 40px 60px;
  overflow: hidden;
  height: 400px;
  background: #cfdfbb;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

card text-center card-style

.product-photo {
  border-radius: 20px 40px 60px;
  margin: 32px;
  padding: 16px;
  height: 300px;
  background: #cfdfbb;
  width: 300px;
  background-size: cover;
  // background-image: url('https://images.unsplash.com/photo-1518465444133-93542d08fdd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
}

.product-info {
  padding-top: 200px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  background: #cfdfbb;
  font-family: Helvetica
}

.price {
    font-size: 18px;
    display: block;
    line-height: 68px;
    text-align: right;
    color: #586f56;
    font-family: Helvetica;
}

.reviews {
  padding-top: 10px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  background: #f8f9fa;
  font-family: Helvetica;
  color: #586f56;
}


.product-tools {
  list-style: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 200px;
  padding-left: 30px;
  background: #cfdfbb;
}

.options{
  overflow: hidden;
  height: 120px;
  background: #cfdfbb;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.toolsButton {
  box-shadow:inset 0px 1px 0px 0px #a4e271;
  background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color:#89c403;
  border-radius:6px;
  border:1px solid #74b807;
  display:inline-block;
  cursor:pointer;
  color:#738d76;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528009;
  font-size: 16px;
}
.toolsButton:hover {
  background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color:#cfdfbb;
}
.toolsButton:active {
  position:relative;
  top:1px;
}




