.show-container{
  align-content: center;
  // justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
  margin: 0px 200px;
}

.card-product-show {
  margin-top: 8px;
  border-radius: 20px;
  overflow: hidden;
  height: 400px;
  background: $mari-dark-green;
  align-items: flex-start;
  padding: 20px 0px;
}

.divisor {
  display: flex;
  justify-content: center;

}

.product-photo {
  position: relative;
  top:4px;
  width:300px;
  height:300px;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 8px;
}

.product-info {
  position: relative;
  top:4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: $mari-dark-green;
  font-family: Helvetica;
  color: white;
  h2 {
  font-weight: bold;
  padding: 4px 0px;
  }
}
.description-style {
  width: 500px
}

.price {
    font-size: 18px;
    display: block;
    // line-height: 68px;
    text-align: right;
    color: #586f56;
    font-family: Helvetica;
}

.product-tools {
  list-style: none;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-left: 800px;
}

.review-container {
  margin-top: 16px;
  color: white;
  font-weight: bold;
}

.reviews {
  padding-top: 10px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  color: white;
}

.review-show-button {
  background-color:$mari-dark-green;
  color: white;
  border-radius: 4px;
  &:hover{
  background-color: white;
  color: $mari-dark-green;
  }
}

.reviews-wroted {
  border-radius: 4px;
  margin: 2px 0px;
  background-color:#F5F5F5;
  color: $mari-dark-green;
  padding: 8px;
  h2 {
    font-size: 16px;
  }
}

.review-cabecalho{
  font-weight: normal;
  font-size: 12px;
  position: relative;
  top:4px;
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
}


// .options{
//   overflow: hidden;
//   height: 120px;
//   background: #cfdfbb;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
// }

// .toolsButton {
//   box-shadow:inset 0px 1px 0px 0px #a4e271;
//   background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
//   background-color:#89c403;
//   border-radius:6px;
//   border:1px solid #74b807;
//   display:inline-block;
//   cursor:pointer;
//   color:#738d76;
//   font-family:Arial;
//   font-size:20px;
//   font-weight:bold;
//   padding:6px 24px;
//   text-decoration:none;
//   text-shadow:0px 1px 0px #528009;
//   font-size: 16px;
// }
// .toolsButton:hover {
//   background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
//   background-color:#cfdfbb;
// }
// .toolsButton:active {
//   position:relative;
//   top:1px;
// }




