<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQK0XAL3VmqsP4Yw1dVPTHMda_vY91wHvD8TACswV6gzh5_zuqV&usqp=CAU);">
  <div class="container">
    <h1>The best quality marijuanas are here</h1>
    <p>Start thinking outside the box.</p>
    <a class="btn btn-flat" href="#">Shop now</a>
  </div>
</div>

