  <!-- <div class="container"> -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587095231266-25ff2423a85d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);">
  <div class="container">
    <h1>Connecting Demand and Supply</h1>
    <p>Exchanging Good Vibes</p>
    <%= link_to 'Shop now!', products_path, class: 'btn cta'  %>
    </div>
  </div>
</div>
<!-- </div> -->

