<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content: space-between">
  <a class="navbar-brand" href="#">
    <img src="https://i.ibb.co/44f2f9B/green-store.png" alt="" width="400" height="90" style="margin-left: -45px">
  </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
            <a class="nav-link" href="#">ABOUT<span class="sr-only">(current)</span></a>
          </li>   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              FLOWER
            </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">PRE-ROLLS</a>
                 <a class="dropdown-item" href="#">DRIED FLOWER</a>
                 <a class="dropdown-item" href="#">SEEDS</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              EDIBLES
            </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">CHOCOLATES</a>
                 <a class="dropdown-item" href="#">BEVERAGES</a>
                 <a class="dropdown-item" href="#">BAKED GOODS</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ACCESSORIES
            </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">ROLLING PAPERS</a>
                 <a class="dropdown-item" href="#">GRINDERS</a>
                 <a class="dropdown-item" href="#">BONGS & PIPES</a>
            </div>
          </li>
         <!--  <form class="form-inline my-2 my-lg-0" style="margin: 90px">
           <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <i class="fas fa-shopping-cart"></i>
    </ul>
   </div>
</nav>
</div>
