.banner {
  background-size: cover;
  background-position: center;
  padding: 180px 0px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
