.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8ba189;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-login {
  background-color: white;
  color: #1BCB7F;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  border: 2px #1BCB7F solid;
}

.cta {

  background-color: #1BCB7F;
  color: white;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  // border: 2px solid white;
}

.btn-opossite-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1BCB7F;
  transition: background 0.3s ease;
}

.btn-opossite-flat:hover {
  background: #8ba189;
  color: white;
}
