.navbar {
  padding: 0;
}
.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-left: auto;
}

.fa-shopping-cart {
  margin-right: 20px;
}
