<div class="container">

  <div class="card-product-show">

    <div class="product-photo">
<!--       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
 -->    </div>

    <div class="product-info">
      <h2><%= @product.name %></h2>
      <h3><%= @product.category %></h3>
      <p><%= @product.price %></p>
      <p><%= @product.description %></p>
      <button>Add to the cart</button>
    </div>
  </div>

</div>
