<div class="container">

  <div class="card-product-show">

    <div class="product-photo">
      <img src="url(https://images.unsplash.com/photo-1518465444133-93542d08fdd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80)" alt="">
    </div>

    <div class="product-info">
      <h2><%= @product.name %></h2>
      <h3><%= @product.category %></h3>
      <p><%= @product.price %></p>
      <p><%= @product.description %></p>
      <button>Add to the cart</button>
    </div>
  </div>

</div>
